
#div1{
    margin-left: 63%;
    margin-top: 10%;
    width: 21rem;
}
#div2{
    margin-top: -21%;
    margin-left: 40%;
    width: 21rem;
}
*{
    align-items: center;
}
a{
   background-color: brown;
   border-radius: 10px;
}
